body {
  background-image: url('../img/imagen-fondo.jpg');
  background-attachment: fixed;
}


#image {
  border-radius: 150%;
  width: 90%;
  z-index: 100;
  right: -10px;
  border: 2px solid blue;
}

#verde {
  color: #47A5A4;
}

.logo {
  top: 5px;
  width: 15%;
  position: fixed;
  float: left;
}

.github {
  width: 30%;
  border-radius: 0.3em;
  opacity: 30%;
}

.video {
  border-radius: 0.3em;
}

.header {
  height: 2em;
  background-color: #9C9898;
  color: white;
  bottom: 0;
  border-radius: 0.5em;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

.redes {
  width: 7%;
  float: left;
  letter-spacing: 2pt;
  margin: 0 2px;
}

.gitlink {
  width: 5%;
  float: left;
  letter-spacing: 2pt;
  margin: 0 2px;
  border-radius: 150%;
}

li {
  text-align: left;
  color: #4775A5;
}

.u-text-palette-2-dark-1 {
  opacity: 1;
}

.blue {
  float: right;
  opacity: 0.7;
  width: 19%;
  height: 40%;
  margin: 10px;
  background: #9DC0F5;
  text-align: justify;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 1em;
  color: #A83C2D;
  top: -10px;
}

.manito {
  border-radius: 150%;
  opacity: 0.5;
  width: 15%;
  margin-top: 0.5px;
}


.red {
  float: right;
  opacity: 0.7;
  width: 19%;
  margin: 10px;
  background: #F5A69B;
  position: inherit;
  text-align: justify;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 1em;
  color: #A83C2D;
  top: -570px;
}

.contacto {
  width: 7%;
  float: left;
  letter-spacing: 10pt;
  margin: 0 1px;
  border-radius: 0.2em;
}


.mano {
  width: 10%;
  float: left;
  letter-spacing: 2pt;
  margin: 0 2px;
  border-radius: 150px;
}


.seccion .u-sheet-1 {
  min-height: 987px;
}

.seccion .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.seccion .disposicion-1 {
  min-height: 294px;
}

.seccion .contenedor-1 {
  padding: 30px 30px 0;
}

.seccion .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 377px 0 2px;
}

.seccion .u-text-2 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 377px 0 2px;
}

.seccion .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: none;
  margin: 30px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.seccion .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.seccion .imagen1 {
  width: 347px;
  height: 386px;
  margin: -252px 0 0 auto;
  border-radius: 0.7em;
}

.seccion .disposicion-2 {
  min-height: 294px;
}

.seccion .contenedor-2 {
  padding: 30px;
}

.seccion .u-icon-2 {
  height: 96px;
  width: 96px;
  margin: 0 auto;
}

.u-size-70 {
  width: 1000px;
  margin: 0 auto;
}

.u-size-100 {
  width: 1200px;
  margin: 0 auto;
}

.u-size-10 {
  width: 400px;
  margin: 0 auto;
}


.seccion .u-text-3 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.seccion .u-text-4 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.seccion .disposicion-3 {
  min-height: 393px;
  background-image: none;
}

.seccion .contenedor-3 {
  padding: 30px;
}

.seccion .u-icon-3 {
  height: 96px;
  width: 96px;
  color: rgb(255, 138, 138) !important;
  margin: 0 auto;
}

.seccion .u-text-5 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.seccion .u-text-6 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.seccion .disposicion-4 {
  min-height: 393px;
}

.seccion .contenedor-4 {
  padding: 30px;
}

.seccion .u-icon-4 {
  height: 96px;
  width: 96px;
  color: rgb(255, 193, 102) !important;
  margin: 0 auto;
}

.seccion .u-text-7 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.seccion .u-text-8 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.seccion .disposicion-5 {
  min-height: 393px;
}

.seccion .contenedor-5 {
  padding: 30px;
}

.seccion .u-icon-5 {
  height: 96px;
  width: 96px;
  color: rgb(150, 147, 230) !important;
  margin: 0 auto;
}


.seccion .u-text-7 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 12px;
  margin: 5px 0 0;
}

.seccion .u-text-8 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 14px;
  margin: 5px 0 0;
}

.seccion .u-text-9 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.seccion .u-text-10 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.seccion .u-text-11 {
  font-size: 1.125rem;
  width: 366px;
  margin: 30px auto 60px;
}

.seccion .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .seccion .u-sheet-1 {
    min-height: 866px;
  }

  .seccion .disposicion-1 {
    min-height: 439px;
  }

  .seccion .u-text-1 {
    width: auto;
    margin-right: 302px;
    margin-left: 0;
  }

  .seccion .u-text-2 {
    width: auto;
    margin-right: 302px;
    margin-left: 0;
  }


  .seccion .disposicion-2 {
    min-height: 355px;
  }

  .seccion .u-icon-2 {
    color: rgb(255, 138, 138) !important;
  }

  .seccion .disposicion-3 {
    min-height: 324px;
  }

  .seccion .disposicion-4 {
    min-height: 324px;
  }

  .seccion .disposicion-5 {
    min-height: 324px;
  }
}

@media (max-width: 991px) {
  .seccion .u-sheet-1 {
    min-height: 1202px;
  }

  .seccion .disposicion-1 {
    min-height: 569px;
  }

  .seccion .contenedor-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .seccion .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .seccion .u-text-2 {
    margin-right: 0;
  }


  .seccion .disposicion-2 {
    min-height: 569px;
  }

  .seccion .contenedor-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .seccion .u-text-3 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .seccion .disposicion-3 {
    min-height: 467px;
  }

  .seccion .contenedor-3 {
    padding-right: 19px;
    padding-left: 20px;
  }

  .seccion .u-text-5 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .seccion .u-text-6 {
    margin-right: 1px;
  }

  .seccion .disposicion-4 {
    min-height: 467px;
  }

  .seccion .contenedor-4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .seccion .u-text-7 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .seccion .disposicion-5 {
    min-height: 467px;
  }

  .seccion .contenedor-5 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .seccion .u-text-9 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .seccion .u-text-11 {
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .seccion .u-sheet-1 {
    min-height: 700px;
  }

  .seccion .disposicion-1 {
    min-height: 502px;
  }

  .seccion .contenedor-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .seccion .u-text-1 {
    font-size: 1.875rem;
  }

  .seccion .u-text-2 {
    margin-top: 30px;
  }

  .seccion .u-btn-1 {
    margin-top: 29px;
    padding: 9px 41px 11px 40px;
  }


  .seccion .disposicion-2 {
    min-height: 100px;
  }

  .seccion .contenedor-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .seccion .u-text-3 {
    font-size: 1.875rem;
  }

  .seccion .disposicion-3 {
    min-height: 100px;
  }

  .seccion .contenedor-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .seccion .u-text-5 {
    font-size: 1.875rem;
  }

  .seccion .disposicion-4 {
    min-height: 100px;
  }

  .seccion .contenedor-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .seccion .u-text-7 {
    font-size: 1.875rem;
  }

  .seccion .disposicion-5 {
    min-height: 100px;
  }

  .seccion .contenedor-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .seccion .u-text-9 {
    font-size: 1.875rem;
  }
}


nav {
  display: none;
}

@media (max-width: 575px) {

  .mood {
    width: 70%;
  }


  .red {
    top: 10px;
    right: -1%;
    left: -0.1% !important;
  }

  .blue {
    top: 10px !important;
    left: -3.9% !important;
  }

  #carousel_baa3 {
    margin-right: 8px !important;
    margin-left: 8px !important;
    left: 2% !important;
  }

  .seccion .disposicion-1 {
    min-height: 100px;
  }

  .seccion .u-text-6 {
    margin-right: 0;
  }

  .seccion .u-text-11 {
    width: 340px;
  }

  nav {
    top: 20px;
    display: block;
  }

  nav ul {
    list-style-type: none;
    float: left;
    padding: 0px;
    font-size: 1.5em;
    clear: none;
    width: 32%;
  }

  nav ul li {
    float: left;
    padding: 5px 8px;
    margin: 2px;
    background: #6D7678;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    float: none;
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 12px;

  }

  #image {
    border-radius: 150%;
    width: 70%;
    z-index: 100;
    right: -10%;
    border: 2px solid blue;
  }

  .indice {
    color: white !important;
  }

  .video-responsive {
    height: 30%;
    overflow: hidden;
    position: absolute;
  }

  .video-responsive iframe,
  .video-responsive object,
  .video-responsive embed {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

}

.mood {
  width: 40%;
}

@media (max-width: 1024px) {
  .blue {
    left: 80%;
  }

  #carousel_baa3 {
    right: 9%;
  }

  .link-rojo {
    color: #A83C2D !important;
  }

  .red {
    left: 10%;
    top: -795px;
  }

  .blue {
    left: 89%;
    top: -785px;
  }

}

@media handheld,
only screen and (max-width: 575px) {


  .mood {
    width: 70%;
    left: 13%;
  }

  .imagen1 {
    display: none;
  }

  .logo {
    display: none;
  }

  .miniatura {
    width: 50%;
    /* 100/nºimágenes, 5 en el ejemplo */
  }

  aside {
    float: none;
    width: 96%;
  }

  .red {
    top: 0px;
    right: -1%;
    width: 98%;
  }

  .blue {
    left: 90%;
  }
}

@media only screen and (max-width: 1023px) {
  .imagen1 {
    width: 50%;
  }

  .logo {
    display: none;
  }

}


.footer {
  height: 4em;
  position: fixed;
  bottom: 0;
  width: 100%;
}




/* Contenedor general del visor */
.contenedorvisor {
  position: relative;
  width: 100%;
  height: 160px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background: #9FBEDE;
  opacity: 0.9;
  border-radius: 0.5em;
}

#capturas {
  position: relative;
  margin-bottom: 0.5px;
  margin-top: 0.5px;
  text-align: left;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedorvisor a {
  display: inline;
  text-decoration: none;
}

/* Estilo miniaturas */
.miniatura {
  width: 14%;
  /* 100/nºimágenes, 5 en el ejemplo */
  margin: 1px;
  border: 3px solid black;
  opacity: 1;
  border-radius: 0.5em;
  position: relative;
}

.expandir {
  width: 2%;
  position: absolute;
  z-index: 1;
  border: none;
}

/* Estilo imagen principal */
.grande {
  width: 100%;
  position: absolute;
  top: 800px;
  /* Valor mayor que alto contenedor para ocultar todas las imágenes */
  margin: 0 auto;
  text-align: center;
  display: block;
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -o-transition: top 1s ease;
  -ms-transition: top 1s ease;
  transition: top 1s ease;
}

/* Relleno inicial del espacio para imagen principal */
.muestra {
  opacity: .3;
  width: 200%;
  top: 170px;
}

/* Marcamos con un borde la miniatura seleccionada */
a:hover .miniatura {
  border: 3px solid grey;
  opacity: .5;
}

/* Movemos con transición la imagen seleccionada a la zona visible */
a:hover .grande {
  top: 170px;
  -webkit-transition: top 1s ease;
  -moz-transition: top 1s ease;
  -o-transition: top 1s ease;
  -ms-transition: top 1s ease;
  transition: top 1s ease;
  z-index: 3;
}